  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

   #login-html .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100vh;           
    }
    
    #login-html .left-container {
      width: 50%;
      padding: 20px;             
      height: 55vh;
      animation: fade-in 1.5s ease-out;          
    }
    
    #login-html .right-container {
      width: 30%;
      padding: 20px;
      height: 65vh;
      border-radius: 10px;
      background-color: #f0f0f0;
      margin-right: 5%; /* Despega el contenedor del borde derecho */            
      background-color: rgba(240, 240, 240, 0.85);
      animation: fade-in 1.5s ease-out;
    }
    
    #login-html form {
      max-width: 300px;
      margin: 0 auto;
    }

    #login-html input[type="text"]:focus,
    #login-html input[type="password"]:focus {
      border-color: #4C8D86; /* Cambiar el color del borde al seleccionar */
      border-width: 2px;
      outline: none; /* Eliminar el contorno predeterminado */
    }       

    #login-html input[type="submit"] {
      width: calc(97% - 22px); /* 22px es el total del padding + borde */
      padding: 8px; /* Reducimos el padding para hacer el botón más pequeño */
      margin-top: 15px; /* Añade espacio entre los campos de entrada y el botón */
      background-image: linear-gradient(to left, #4C8D86, #FA7F91);
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      border: none;
      border-radius: 5px;
      cursor: pointer;            
    }

    #login-html input[type="submit"]:hover {
      background-image: linear-gradient(to left, #336c67, #e8697d); /* Cambiar el gradiente al oscurecer */
    }

    #login-html .register-link {
      color: #666; /* Color gris claro */
      text-align: center; /* Centra el texto horizontalmente */
      margin-top: 20px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      font-size: 100%;          
    }

    #login-html .register-link a {
      font-size: 100%;
      color: #E35D6F; /* Cambiar el color del texto del enlace */
      text-decoration: none; /* Eliminar el subrayado del enlace */
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  
      text-align: center;          
      margin-right: 32px;   
    }

    #login-html .register-link a:hover {
      color: #DA2534; /* Oscurece el color al pasar el mouse */
      cursor: pointer;
      display: inline-block;            
    }

    #login-html body {
      font-family: 'Literata', sans-serif;      
      background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
      background-repeat: no-repeat; /* Evita que la imagen se repita */
      background-position: center center; /* Centra la imagen */
    }

    #login-html h2{
      font-size: 190%;
      color: #e0d7c8; /* Color crema muy claro */            
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    #login-html p1{
      font-size: 100%;
      color: #e0d7c8; /* Color crema muy claro */            
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

    #login-html h3{
      margin-top: 65px;
      text-align: center;          
      font-size: 125%;
      color: #335B57;
    }     

    #login-html form input{
      height: 40px;
      width: 90%; /* 22px es el total del padding + borde */
      padding: 0 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box; /* Esto asegura que el ancho incluya el relleno */
      color: #3C3B39; 
      font-size: 9  0%;   
      outline: none;  
    }

    #login-html form input[type="password"]{
    margin-top: 20px;
    }

    #login-html form i{
      position: absolute;
      font-size: 18px;          
      margin: 15px 0 0 -45px;
    }

    #login-html i.fa-user{
      margin-top: 23px;      
    } 

    #login-html i.fa-eye-slash{
      margin-top: 32px;
    } 

    ::selection {
      background-color: rgba(0, 0, 0, 0.3); /* Cambiar el color de fondo de la selección */        
    }

    #login-html .focus-border:focus {
      border: 2px solid #FA7F91; /* Cambia el color del borde en focus */
    } 
    
   