div.background {
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 0.4;
    padding: 1%;
    height: 10em;
    width: 24em;
  }
  
  
  div.transbox  {
    border-radius: 7px;
    background-color: #ffffff;
    opacity: 0.3;
    width: 24em;
  }

  div.box  {
    border-radius: 15px;
    background-color: #ffffff;
    opacity: 0.3;
    width: 24em;
  }

  div.card {
    width: 26em;
  }